<ul>
  <li>{{#link-to (with-relative-path 'create')}}Create{{/link-to}}</li>
  <li>{{#link-to (with-relative-path 'edit')}}Edit{{/link-to}}</li>
  <li>{{#link-to (with-relative-path 'delete')}}Delete{{/link-to}}</li>
</ul>
