<h2>Reasons</h2>

<ul>
  <li>{{#link-to (with-relative-path 'good')}}Good{{/link-to}}</li>
  <li>{{#link-to (with-relative-path 'bad')}}Bad{{/link-to}}</li>
  <li>{{#link-to (with-relative-path 'okayish')}}Okayish{{/link-to}}</li>
</ul>

{{outlet}}
